{% block content %}
   <table>
       <tr>
           <th>ID</th>
           <th>Event</th>
           <th>Name</th>
           <th>Priority</th>
           <th>Done</th>
           <th></th>
       </tr>
   {% for task in object_list %}
       <tr>
           <td>{{task.id}}</td>
           <td>{{task.event}}</td>
           <td>{{task.name}}</td>
           <td>{{task.priority}}</td>
           <td>{{task.done}}</td>
           <td><a href="{% url 'task_update' task.id %}">Update</a></td>
       </tr>
   {% endfor %}
   </table>
   <a href="{% url 'task_create' %}">Create</a>
{% endblock %}